<h1>Jeremy Raines</h1>
<a href="http://www.github.com/jraines"><i class='fa fa-github'></i></a>
<a href="http://www.twitter.com/jraines"><i class='fa fa-twitter'></i></a>

<ul>
  <% blog.articles[0...10].each do |article| %>
    <li><%= link_to article.title, article %> <span><%= article.date.strftime('%b %e') %></span></li>
  <% end %>
</ul>


