<div id="bio-photo"></div>
<h1 id='name'>Jeremy Raines</h1>
<div id="icons">
  <a href="http://www.github.com/jraines"><i class='fa fa-github'></i></a>
  <a href="http://www.twitter.com/jraines"><i class='fa fa-twitter'></i></a>
</div>

<h4 class="index-h4"> Articles </h4>
<ul class='articles'>
  <% blog.articles[0...100].each do |article| %>
     <% next if article.tags.include? 'chain'  %>
     <li><span class="article-date"><%= article.date.strftime('%m.%4Y') %></span><%= link_to article.title, article %> </li>
  <% end %>

</ul>

<h4 class="index-h4"> Notes </h4>
<ul class='articles'>
  <% blog.articles[0...100].each do |article| %>
     <% next unless article.tags.include? 'chain'  %>
     <li><span class="article-date"><%= article.date.strftime('%m.%4Y') %></span><%= link_to article.title, article %> </li>
  <% end %>

</ul>


